/* SIDE BAR FIX */
nav[class^=wrapper_] {
  margin-bottom: unset !important;
}

/* Scope: Adjust panel layout when custom guild list is present */
section[class^="panels_"] {
  margin-left: var(--custom-guild-list-width);
  width: calc(100% - var(--space-xs) * 2 - var(--custom-guild-list-width)) !important;
}

/* Optimize Lottie icons inside panels */
section[class^="panels_"] div[class^="lottieIcon_"] svg {
  width: auto !important;
  height: auto !important;
}

/* Clean button padding in action buttons inside panels */
section[class^="panels_"] div[class^="actionButtons_"] button {
  padding: 0 !important;
}
