:root {
    --gDM-online: linear-gradient(to right, rgb(68, 105, 68) , transparent);
    --gDM-offline: linear-gradient(to right, rgb(66, 66, 66) , transparent);
    --gDM-dnd: linear-gradient(to right, rgb(130,70,70) , transparent);
    --gDM-idle: linear-gradient(to right, rgb(135, 105, 75) , transparent);
    --gDM-streaming: linear-gradient(to right, rgb(63, 33, 88) , transparent);
    --gDM-border-radius: 12px;
}

aside[class^=membersWrap_] div[class^=member_] {
    border-radius: var(--gDM-border-radius);
    margin-top: 2px;
}

aside[class^=membersWrap_] div[class^=member_]:has([mask*="online"], [fill="#40a258"]):not(:has(video)) { 
    background: var(--gDM-online);
}

aside[class^=membersWrap_] div[class^=member_]:has([mask*="offline"], [fill="#f0b232"]):not(:has(video)) { 
    background: var(--gDM-offline);
}

aside[class^=membersWrap_] div[class^=member_]:has([mask*="dnd"], [fill="#d83a41"]):not(:has(video)) {
    background: var(--gDM-dnd);
}

aside[class^=membersWrap_] div[class^=member_]:has([mask*="idle"], [fill="#cc954c"]):not(:has(video)) { 
    background: var(--gDM-idle);
}

aside[class^=membersWrap_] div[class^=member_]:has([mask*="streaming"], [fill="#9147ff"]):not(:has(video)) { 
    background: var(--gDM-streaming);
}
